.place-overlay-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 2;
  left: 50vw;
  top: calc(45vh - 200px);
  padding: 30px;
}
