.place-sidebar-container {
  /* 11vh is the height of the filter */
  margin-top: 11vh;
  width: calc(50vw - 5vw - 5vw);
}

.place-card-excess {
  height: 200px;
}

@media screen and (max-width: 760px) {
  .place-sidebar-container {
    width: 100%;
    top: 70vh;
  }
}
