.mobile-place-carousel-container {
  width: 100%;
  height: 10vh;
}

.mobile-place-carousel-text-container {
  text-align: left;
}

.mobile-place-carousel-no-results {
  padding: 30px;
}

.mobile-place-carousel-nav-buttons {
  position: absolute;
  bottom: 0;
}
