.blog-container {
  margin: 0 auto;
  margin-top: 100px;
  width: calc(760px - 10vh);
  text-align: left;
}

.post-card-container {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.post-card-text:hover {
  transition: 0.3s;
  border-color: black;
}

.post-card-header {
  height: 130px;
}

.post-card-text p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.post-card-text h3 {
  margin: 0;
  font-size: 1.5rem;
}

.post-card-date {
  color: rgb(128, 128, 128);
  font-size: 1rem;
}

@media screen and (max-width: 760px) {
  .blog-container {
    width: 100%;
  }
}
