.about-me-container {
  padding-top: 100px;
  max-width: 760px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.left-about-me {
  max-width: 500px;
  width: 50vw;
  text-align: left;
}

.left-about-me p {
  line-height: 25px;
}

.right-about-me {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-picture img {
  border-radius: 50%;
  max-width: 200px;
  object-fit: cover;
}

.get-in-touch-container {
  text-align: center;
}

.get-in-touch-link a {
  color: olive;
}
.get-in-touch-link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .about-me-container {
    width: 100%;
    flex-direction: column-reverse;
  }

  .left-about-me {
    width: 100%;
    max-width: 100%;
  }

  .right-about-me {
    margin: 0 auto;
  }

  .get-in-touch-container {
    text-align: center;
  }
}
