.post-container {
  width: calc(760px - 10vw);
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  text-align: left;
  line-height: 25px;
}

.post-header {
  line-height: 2.5em;
}
.post-header p {
  font-size: 13px;
}

.post-cover-image {
  width: calc(760px - 10vw);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.post-cover-image img {
  width: 100%;
}

@media screen and (max-width: 760px) {
  .post-container {
    width: 100%;
  }

  .post-cover-image {
    width: 100%;
  }
}
