.select-place-container {
  width: 760px;
  margin: 0 auto;
}

.select-place-header {
  height: 100px;
}
.select-place-subheader {
  line-height: 25px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 760px;
  max-width: 760px;
}

.city-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .select-place-container {
    width: 100%;
  }

  .select-place-subheader {
    width: 100%;
  }
}
