.home-container {
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}
.home-about-me-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.home-profile-pic-container {
  width: 350px;
}

.home-profile-pic {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 236, 169, 1);
  border-radius: 50%;
}

.home-about-me-text-container {
  width: 350px;
  text-align: left;
}

.section-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.nav-card-container {
  width: 350px;
  cursor: pointer;
}
