.home-container {
  width: 760px;
  margin: 0 auto;
  margin-top: 100px;
}
.home-about-me-container {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}
.home-profile-pic-container {
  width: 350px;
}

.home-profile-pic {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 236, 169, 1);
  border-radius: 50%;
}

.home-about-me-text-container {
  width: 350px;
  text-align: left;
}

.section-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.nav-card-container {
  width: 300px;
  min-height: 100px;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

@media only screen and (max-width: 760px) {
  .home-profile-pic {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 236, 169, 1);
    border-radius: 50%;
    margin: 0 auto;
  }

  .home-profile-pic-container {
    width: 100%;
  }
  .home-container {
    width: 100%;
  }
  .home-about-me-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home-about-me-text-container {
    text-align: center;
    width: 100%;
  }

  .section-nav-container {
    justify-content: center;
    text-align: center;
  }
}
