.footer-container {
  margin-top: 100px;
  width: 700px;
  height: 50px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: left;
  font-size: 0.9rem;
  color: grey;
}

.footer-container a {
  text-decoration: underline;
}
