.footer-container {
  margin-top: 100px;
  width: 760px;
  height: 50px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: left;
  font-size: 0.9rem;
  color: grey;
}

.footer-container a {
  text-decoration: underline;
}

@media only screen and (max-width: 760px) {
  .footer-container {
    width: 100%;
  }
}
